<h1>Редактирование статьи</h1>

<%= bootstrap_form_for :article, url: article_path(@article), method: :put do |f| %> 
	
		<%= f.label :Название_статьи %>
		 <%= f.text_field :title, hide_label: true %>		
	
	
		<%= f.label :Содержание_статьи  %>
		 <%= f.text_area :text, hide_label: true %>		
	
	
		<%= f.submit "Принять" %>
	

	<% end %>
	