<h1>New article</h1>

<%= bootstrap_form_for :article, url: '/articles' do |f| %> <!--articles_path  вместо /articles-->
	
	<%= f.label :Название_статьи %>
		 <%= f.text_field :title, hide_label: true %>		
	
	
		<%= f.label :Содержание_статьи  %>
		 <%= f.text_area :text, hide_label: true %>	
		
		<%= f.submit "Создать" %>
	

	<% end %>