<h1><%= @article.title %></h1>

<p><%= @article.text %></p>
<hr><br />

<!--<h2>Комментарии:</h2>-->

<%= 'Без комментариев' if @article.comments.empty? %>

  <% @article.comments.each do |comment| %>
    <p><strong>Автор:</strong> </p>
    
    <p><%= comment.body %></p><br />
    
    <p><i>Добавлено: <%= comment.created_at.strftime('%F в %H:%M ') %>

          
    </p><hr>    <!-- https://stackoverflow.com/questions/22255476/rails-formatting-date шпора по выводу времени --> 
      
  <% end %>
  <hr><br />

<h2>Комментарии</h2>

<%= bootstrap_form_for([@article,@article.comments.build])  do |f| %> 
  <p>
    <%= current_user.username %>
    скажет: 
  </p>
  <p>
    <!--<%= f.label :body %> -->
     <%= f.text_area :body, hide_label: true, placeholder: "Новый комментарий" %>   
  </p>
  <p>
    <%= f.submit "Отправить" %>
  </p>

  <% end %>