<h1><%= @article.title %></h1>

<p><%= @article.text %></p>
<hr>

<h2>Comments:</h2>

  <% @article.comments.each do |comment| %>
    <p>
      <i><%= current_user.username %> said:</i>
      <br />
      <%= comment.body %>
      <hr>

    </p>

    <script type="text/javascript">
    var date = new Date();
    var options = {

      year: 'numeric',
      month: 'long',
      day: 'numeric',
      hour: 'numeric',
       minute: 'numeric'

    };

    document.write ( date.toLocaleString("ru", options));
 
  </script>
  <% end %>
  
      <hr>

<h2>Add Comment</h2>

<%= bootstrap_form_for([@article,@article.comments.build])  do |f| %> 
  <p>
    <%= current_user.username %>
     
  </p>
  <p>
    <!--<%= f.label :body %> -->
     <%= f.text_area :body, hide_label: true, placeholder: "Leave a comment..." %>   
  </p>
  <p>
    <%= f.submit "Отправить" %>
  </p>

  <% end %>